<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Tagline:</b>
  <%= @page.tagline %>
</p>

<p>
  <b>Description:</b>
  <%= @page.description %>
</p>

<p>
  <b>Main image:</b>
  <%= link_to @page.main_image.url, target: '_blank' do %>
    <%= image_tag @page.main_image.thumb %>
  <% end %>
</p>

<p>
  <b>Template:</b>
  <%= @page.template.name %>
</p>


<% if @page.allows_editor?(current_user) %>
  <%= link_to 'Edit', edit_page_path(@page) %> |
<% end %>
<%= link_to 'Back', pages_path %>
